body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #111111;
    background-color: #f3f3f3;
}

html {
    width: 100%;
    height: 100%;
    background: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42DCA3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    background-color: #111111;
}

.navbar-custom .navbar-toggle {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: #ffffff;
}

.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #111111;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #ffffff;
    background-attachment: fixed;
    background-image: url(../img/Lucas-Balbino-01.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 80px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.intro-summary {
    word-spacing: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.intro-summary:hover {
    word-spacing: 30px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: #ffffff;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}

.btn-default i.animated, .btn-circle i.animated, .back-to-top-link i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-default:hover i.animated, .btn-circle:hover i.animated, .back-to-top-link:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.portfolio-title {
    background: url(../img/portfolio-image.jpg) no-repeat center center fixed;
}

.work-title {
    background: url(../img/work-image.jpg) no-repeat center center fixed;
}

.study-title {
    background: url(../img/study-image.jpg) no-repeat center center fixed;
}

.skill-title {
    background: url(../img/skill-image.jpg) no-repeat center center fixed;
}

.portfolio-title, .work-title, .study-title, .skill-title {
    width: 100%;
    padding: 50px 0;
    color: #ffffff;
    background-color: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media (min-width: 767px) {
    .content-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .portfolio-title, .work-title, .study-title, .skill-title {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    color: #F1F1F1;
    padding: 10px 18px;
    margin: 10px 0;
    border: 1px solid #391a32;
    background-color: rgba(57, 26, 50, 0.3);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn-submit {
    color: #ffffff;
    background-color: rgba(57, 26, 50, 0.9);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #F1F1F1;
    background-color: #391a32;
    border: 1px solid #391a32;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background-color: #666666;
}

::selection {
    text-shadow: none;
    background-color: #666666;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

#curriculum span {
    padding-left: 4px;
}

/* -----------------------
 *   Portfolio
 * ----------------------- */

#portfolio-content .overlay {
    padding: 40px 80px;
}

#portfolio-content .overlay h2 {
    font-size: 22px;
}

#portfolio-content .overlay p {
    font-size: 16px;
}

#portfolio-content .overlay a {
    margin: 0 20px;
    font-size: 11px;
}

.portfolio-more {
    margin-top: 50px;
}

@media (max-width: 767px) {
    #portfolio-content .overlay {
        padding: 20px;
    }

    #portfolio-content .overlay h2 {
         font-size: 14px;
    }

    #portfolio-content .overlay p {
        display: none;
    }

    #portfolio-content .overlay a {
        margin: 0 2px;
        font-size: 10px;
    }
}

/* -----------------------
 *   Nav Parallax
 * ----------------------- */

#parallax-nav {
    position: fixed;
    z-index: 52;
    top: 30%;
    right: 15px;
    padding: 0 10px 0 0;
    -webkit-transition: opacity .3s 0s linear;
    -moz-transition: opacity .3s 0s linear;
    -ms-transition: opacity .3s 0s linear;
    -o-transition: opacity .3s 0s linear;
    transition: opacity .3s 0s linear;
    transform: translatez(0);
    -webkit-transform: translatez(0);
    -webkit-backface-visibility: hidden
}

#parallax-nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#parallax-nav ul li {
    margin: 0;
    padding: 10px 0 10px 15px;
    cursor: pointer
}

#parallax-nav ul li a, #parallax-nav ul li a:visited {
    width: 10px;
    height: 10px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .1s linear, border-color .1s linear;
    -moz-transition: background-color .1s linear, border-color .1s linear;
    -ms-transition: background-color .1s linear, border-color .1s linear;
    -o-transition: background-color .1s linear, border-color .1s linear;
    transition: background-color .1s linear, border-color .1s linear
}

#parallax-nav ul li.active a {
    width: 8px;
    height: 8px;
    margin-left: -1px
}

.hide-parallax-nav #parallax-nav, .ie8 #parallax-nav, .ie9 #parallax-nav {
    display: none
}

.image-overlay .image-overlay-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .4);
    transform: translatez(0);
    -webkit-transform: translatez(0)
}

.image-overlay img:not([src]) + .image-overlay-wrapper {
    display: none;
    visibility: hidden
}

.color-weight-dark.scroll-arrow {
    color: #fff
}

.color-weight-dark#parallax-nav ul li a, .color-weight-dark#parallax-nav ul li a:visited {
    background-color: #fff
}

.color-weight-dark#parallax-nav ul li.active a {
    background-color: transparent;
    border: solid 2px #fff
}

.color-weight-dark#parallax-nav ul li .nav-title {
    color: #fff
}

.color-weight-light.scroll-arrow {
    color: #391a32
}

.color-weight-light#parallax-nav ul li a, .color-weight-light#parallax-nav ul li a:visited {
    background-color: #391a32
}

.color-weight-light#parallax-nav ul li.active a {
    background-color: transparent;
    border: solid 2px #391a32
}

.color-weight-light#parallax-nav ul li .nav-title {
    color: #391a32
}

.nav-title {
    position: absolute;
    right: 10px;
    opacity: 0;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin-top: -11px;
    padding: 0 0 5px 0;
    -webkit-transition: all .3s cubic-bezier(.23, 1, .32, 1);
    -moz-transition: all .3s cubic-bezier(.23, 1, .32, 1);
    -ms-transition: all .3s cubic-bezier(.23, 1, .32, 1);
    -o-transition: all .3s cubic-bezier(.23, 1, .32, 1);
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    line-height: 32px;
    visibility: hidden
}

#parallax-nav li:hover span.nav-title {
    right: 25px;
    opacity: 1;
    z-index: 51;
    padding-right: 15px;
    visibility: visible
}

#parallax-nav-item-translate {
    margin: -5px !important;
    width: 35px;
}

#parallax-nav-item-translate span.nav-title {
    /*padding-top: 5px;*/
    margin: -25px 0px;
}

@media (max-width: 767px) {
    #parallax-nav {
        top: 10px;
        right: 10px;
    }

    .parallax-nav-item {
        display: none;
    }

    .parallax-nav-item:nth-of-type(1) {
        display: block;
    }
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
    list-style: none;
    padding-left: 38px;
    border-left: 2px solid #391a32;
}

#timeline li {
    margin: 0 0 80px;
    position: relative;
    text-align: left;
}

#timeline h1 {
    font-size: 22px;
    margin: 0 0 12px;
    font-weight: normal;
    padding-right: 130px;
    position: relative;
}

#timeline h1 img {
    float: right;
    max-height: 100px;
    max-width: 130px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#timeline h2 {
    font-size: 26px;
    margin: 20px 0;
}

#timeline h4 {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}

#timeline p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

.date {
    margin-top: -15px;
    top: 50%;
    left: -100px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    color: #391a32;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #999999;
    border: 2px solid #391a32;
    border-radius: 50%;
    display: block;
    position: absolute;
}

@media screen and (max-width: 767px) {
    #timeline {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    #timeline li {
        margin: 50px 0;
    }

    .circle, .date {
        display: none;
    }
}

.logos img {
    height: 90px;
    padding-right: 8px;
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: all 300ms ease;
}

.logos img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

/* -------------------------------------
 * Stairs
 * ------------------------------------- */

#stairs {
    table-layout: fixed;
    width: 100%;
}

#stairs td {
    width: 33%;
}

#stairs td:last-child {
    border-right: 2px solid #391a32;
}

#stairs .step {
    text-align: center;
    border-top: 2px solid #391a32;
    border-left: 2px solid #391a32;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #391a32;
    cursor: pointer;
}

#stairs .step.active {
    color: #ffffff;
    background-color: #4d1f43;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#stairs-content {
    padding: 60px 0;
}

#stairs-content h1 {
    font-size: 22px;
    margin: 0 0 12px;
    font-weight: normal;
}

#stairs-content h1 img {
    float: right;
}

#stairs-content h2 {
    font-size: 26px;
    margin: 20px 0;
}

#stairs-content h4 {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}

#stairs-content p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#stairs-content .step-content {
    display: none;
}

#stairs-content .step-content.active {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    #stairs .step {
        padding: 5px;
    }
}

/* -------------------------------------
 * Skills
 * ------------------------------------- */

.skills-set {
    margin: 50px 0;
    font-size: 18px;
    line-height: 50px;
    text-align: left;
}

.skill .description {
    font-size: 13px;
    font-style: italic;
    padding-left: 15px;
    color: #666;
}

.skill p {
    font-size: 14px;
    margin: 0;
}

.skill img {
    padding-right: 10px;
}

.skill i {
    color: #391a32;
}

/* -------------------------------------
 * Contact
 * ------------------------------------- */

#contact img {
    float: left;
    border: 2px solid #391a32;
    border-radius: 50%;
}

#contact img:hover {
    border: 2px solid #4d1f43;
}

#contact .social {
    padding: 6px 0;
    font-size: 16px;
    transition: transform 0.5s ease-in-out;
}

#contact .social:hover {
    transform: translate(10px);
}

#contact .social:hover i {
    color: #4d1f43;
}

#contact .social i {
    font-size: 24px;
    padding: 0 10px 0 30px;
    color: #391a32;
}

#contact .social i.fa-envelope {
    font-size: 21px;
}

#contact .social a {
    color: inherit;
}

.contact-form {
    margin: 50px 0 150px 0;
}

.contact-form p {
    font-size: 16px;
    padding: 10px 0;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: normal;
    display: block;
}

.contact-form input {
    width: 100%;
    color: #111111;
    margin-bottom: 20px;
    height: 30px;
    padding: 10px;
    border: 1px solid #391a32;
}

.contact-form textarea {
    width: 100%;
    max-width: 100%;
    color: #111111;
    margin-bottom: 20px;
    height: 120px;
    padding: 10px;
    border: 1px solid #391a32;
}

.successForm, .errorForm {
    text-align: center;
    padding: 10px;
    color: #fff;
    margin: 20px 0;
    display: none;
}

.successForm {
    background-color: #24636c;
}

.errorForm {
    background-color: #c0392b;
}

@media (max-width: 767px) {
    #contact img {
        margin: 30px;
    }

    #contact .social {
        display: inline-block;
    }
}

/* -------------------------------------
 * Languages
 * ------------------------------------- */

.languages-set {
    margin: 50px 0;
    font-size: 18px;
    line-height: 50px;
    text-align: left;
}

.language .level {
    padding-right: 10px;
}

.language p {
    font-size: 14px;
    padding: 3px 48px;
    margin: 0;
}

.language img {
    padding-right: 10px;
}

.language i {
    color: #391a32;
}

/* -------------------------------------
 * Footer
 * ------------------------------------- */

#footer {
    width: 100%;
    background-color: #dddddd;
    position: relative;
}

.back-to-top-link {
    display: block;
    z-index: 100;
    background-color: #391a32;
    width: 70px;
    height: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: -35px;
    padding-top: 2px;
}

.back-to-top-link a {
    display: block;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #f1f1f1;
    padding-left: 2px;
    padding-top: 10px;
}

.back-to-top-link a i {
    font-size: 24px;
}

/* -------------------------------------
 * Stars
 * ------------------------------------- */

.fa.fa-star, .fa.fa-star-half-empty, .fa.fa-star-o {
    transition: transform 0.3s;
}

.fa.fa-star:hover, .fa.fa-star-half-empty:hover, .fa.fa-star-o:hover {
    transform: rotate(-30deg);
}