/* -------------------------------------
 * General
 * ------------------------------------- */

* {
    font-family: Sarabun, Arial, sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

body {
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    margin: 0;
    height: calc(100vh - 70px);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.main {
    min-height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* -------------------------------------
 * Header
 * ------------------------------------- */

#header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #f1f1f1;
}

#header nav {
    position: absolute;
    top: 50px;
    left: 40px;
    right: 40px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    z-index: 5;
}

#header nav ul {
    display: inline-block;
}

#header nav ul li {
    display: inline-block;
    width: 125px;
    position: relative;
    margin: 0 10px;
}

#header nav ul li.last-left {
    margin-right: 130px;
}

#header nav ul li.first-right {
    margin-left: 130px;
}

#header nav ul li a {
    color: #666666;
    text-decoration: none;
}

#header nav ul li a:hover, #header nav ul li a.active {
    color: #111111;
    font-weight: bold;
}

#header nav ul li a img {
    width: 60px;
}

#header nav ul li a:hover img, #header nav ul li a.active img {
    width: 70px;
}

#header nav ul li a span {
    display: block;
}

#avatar.active + nav {
    top: 150px;
}

#avatar.active + nav ul li.last-left {
    margin-right: 190px;
}

#avatar.active + nav ul li.first-right {
    margin-left: 190px;
}

@media only screen and (max-width: 1336px) {
    #avatar.active + nav ul li {
        margin: 0 5px;
    }

    #avatar.active + nav ul li.last-left {
        margin-right: 160px;
    }

    #avatar.active + nav ul li.first-right {
        margin-left: 160px;
    }
}

@media only screen and (max-width: 1285px) {
    #avatar.active + nav {
        left: 20px;
        right: 20px;
    }

    #avatar.active + nav ul li {
        width: 120px;
    }

    #avatar.active + nav ul li a img {
        width: 50px;
    }

    #avatar.active + nav ul li a span {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1215px) {
    #avatar.active + nav {
        left: 10px;
        right: 10px;
    }

    #avatar.active + nav ul li {
        margin: 0;
    }

    #header nav {
        left: 10px;
        right: 10px;
    }

    #header nav ul li {
        margin: 0;
    }

    #header nav ul li a img {
        width: 50px;
    }

    #header nav ul li a:hover img, #header nav ul li a.active img {
        width: 60px;
    }
}

@media only screen and (max-width: 1145px) {
    #avatar.active + nav {
        top: 430px;
        z-index: 25;
    }

    #avatar.active + nav ul li, #avatar.active + nav ul li.last-left, #avatar.active + nav ul li.first-right {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 1055px) {
    #header nav {
        top: 240px;
        z-index: 25;
    }

    #header nav ul li, #header nav ul li.last-left, #header nav ul li.first-right {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 915px) {
    #header nav ul li, #header nav ul li.last-left, #header nav ul li.first-right {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 885px) {
    #avatar.active + nav ul li, #avatar.active + nav ul li.last-left, #avatar.active + nav ul li.first-right {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 855px) {
    #header nav ul li {
        width: auto;
    }
}

@media only screen and (max-width: 825px) {
    #avatar.active + nav ul li {
        width: auto;
    }
}

@media only screen and (max-width: 635px) {
    #header nav ul li {
        width: 150px;
        margin: 0 auto;
    }

    #header nav ul li.last-left, #header nav ul li.first-right {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 605px) {
    #avatar.active + nav ul li {
        width: 150px;
        margin: 0 auto;
    }

    #avatar.active + nav ul li.last-left, #avatar.active + nav ul li.first-right {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    #avatar.active + nav {
        left: 0;
        right: 0;
    }

    #avatar.active + nav ul li {
        width: 120px;
    }

    #header nav {
        left: 0;
        right: 0;
    }

    #header nav ul li {
        width: 120px;
    }
}

@media only screen and (max-width: 369px) {
    #avatar.active + nav {
        top: 280px;
    }
}

/* -------------------------------------
 * Avatar
 * ------------------------------------- */

#avatar {
    width: 320px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

#avatar a {
    color: #111111;
    text-decoration: none;
}

#avatar a img {
    width: 200px;
    margin: 5px auto;
}

#avatar.active a img {
    width: 100%;
}

#avatar #name {
    margin: -5px 0;
    color: #666;
    font-size: 16px;
}

#avatar.active #name {
    margin: 30px 0;
    color: #111;
    font-size: 32px;
}

#avatar #summary {
    display: none;
}

#avatar.active #summary {
    display: block;
    font-size: 16px;
    line-height: 1.7;
    margin: 40px -15vw 0 -15vw;
    padding-bottom: 80px;
    color: #111111;
}

#avatar #summary i {
    color: #ccc;
    font-size: 60px;
    margin-left: -60px;
    margin-top: -10px;
    position: absolute;
    z-index: -1;
}

#avatar .lang-selector {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 65px;
    width: 25px;
}

#avatar.active .lang-selector {
    right: 35px;
    width: 32px;
}

#avatar .lang-selector-label {
    display: none;
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    color: #111111;
    top: 31px;
    right: 95px;
    background: #f1f1f1;
    padding: 0 10px;
}

#avatar.active .lang-selector-label {
    top: 33px;
    right: 73px;
}

@media only screen and (max-width: 1145px) {
    #avatar.active #summary {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 605px) {
    #avatar.active #summary {
        margin-top: 300px;
    }
}

@media only screen and (max-width: 480px) {
    #avatar.active #summary {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 369px) {
    #avatar.active #summary {
        margin-top: 400px;
    }

    #avatar.active a img {
        width: 200px;
        margin: 5px auto;
    }

    #avatar.active #name {
        font-size: 16px;
        margin: -5px 0;
    }

    #avatar.active .lang-selector {
        right: 65px;
        width: 25px;
    }

    #avatar.active .lang-selector-label {
        top: 31px;
        right: 95px;
    }
}

@media only screen and (max-width: 244px) {
    #avatar.active #summary {
        margin-top: 700px;
    }
}

/* -------------------------------------
 * Footer
 * ------------------------------------- */

#footer {
    text-align: center;
    background-color: #3c153b;
    width: 100%;
    height: 70px;
}

#footer ul {
    display: inline-block;
    padding: 0;
}

#footer ul li {
    display: inline-block;
    width: 20px;
    margin: 0 20px;
}

#footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

@media only screen and (max-width: 739px) {
    #footer ul li {
        width: 10px;
    }
}

@media only screen and (max-width: 589px) {
    #footer {
        height: 125px;
    }

    #footer ul li {
        width: 50px;
        margin: 5px 20px;
    }
}

@media only screen and (max-width: 559px) {
    #footer ul li {
        width: 30px;
    }
}

@media only screen and (max-width: 539px) {
    #footer ul li {
        width: 20px;
    }
}

@media only screen and (max-width: 379px) {
    #footer ul li {
        margin: 5px 10px;
    }
}

@media only screen and (max-width: 259px) {
    #footer {
        height: 170px;
    }
}

/* -------------------------------------
 * Main
 * ------------------------------------- */

.section {
    position: relative;
}

.section > div {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.ribbon:before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    height: 34px;
    background: url(../img/ribbon.png) repeat-x left top;
}

@media only screen and (max-width: 1055px) {
    .section {
        padding-top: 120px;
    }
}

@media only screen and (max-width: 635px) {
    .section {
        padding-top: 220px;
    }
}

@media only screen and (max-width: 369px) {
    .section {
        padding-top: 340px;
    }
}

@media only screen and (max-width: 244px) {
    .section {
        padding-top: 600px;
    }
}

/* -------------------------------------
 * Blog
 * ------------------------------------- */

#blog {
    margin-top: 40px;
    display: none;
}

#blog-banner .tab {
    position: absolute;
    top: 70px;
    left: -15px;
    background: #430d39;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    padding: 0 30px;
    color: #fff;
    z-index: 100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#blog-banner .tab:before {
    position: absolute;
    content: "";
    top: 0;
    right: -23px;
    height: 44px;
    width: 23px;
    background: url(../img/arrow.png) no-repeat;
}

#blog-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#blog-banner .upper {
    display: table;
}

#blog-banner .upper > .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 80px 40px 170px;
    position: relative;
}

#blog-banner .upper .content {
    padding: 0 0 0 20px;
    position: relative;
}

#blog-banner .upper h1 {
    margin: 0;
    font-size: 46px;
    line-height: 50px;
    color: #232323;
}

#blog-banner .upper h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}

#blog-banner .upper .content a img {
    width: 100%;
    margin: 20px 0;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
}

#blog-banner .left .more {
    margin-top: 10px;
    background-color: #3c153b;
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#blog-banner .left .more:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 110px;
}

#blog-banner .left a {
    color: #fff;
    text-decoration: none;
}

#blog-banner .upper > .right {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    vertical-align: middle;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#blog-banner .upper > .right h4 {
    font-style: normal;
}

#blog-banner .right .more {
    background-color: #3c153b;
    margin: 0 0 60px 0;
}

#blog-banner .right .more:hover {
    margin: 0 -40px 60px -40px;
}

#blog-banner .right a {
    color: #fff;
    text-decoration: none;
}

/* -------------------------------------
 * Work
 * ------------------------------------- */

#work {
    margin-top: 40px;
    display: none;
}

#work-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#work-banner .upper {
    display: table;
}

#work-banner .upper > .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 80px 0 50px;
    position: relative;
}

#work-banner .upper > .right {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#work-banner .upper > .right h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
    list-style: none;
    padding-left: 38px;
    border-left: 2px solid #430d39;
    margin-bottom: 0;
}

#timeline li {
    margin: 0 0 80px;
    position: relative;
    text-align: left;
}

#timeline li:last-child {
    margin: 0;
}

#timeline li h1 {
    font-size: 22px;
    margin: 0 0 12px;
    font-weight: normal;
    padding-right: 130px;
    position: relative;
}

#timeline li h1 img {
    float: right;
    max-height: 100px;
    max-width: 130px;
    position: absolute;
    top: 0;
    right: 0;
}

#timeline li h2 {
    font-size: 26px;
    margin: 20px 0;
}

#timeline li h4 {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}

#timeline li p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#timeline li .certifications {
    position: absolute;
    top: 0;
    right: -80px;
    margin-right: -320px;
    text-align: center;
    width: 250px;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
}

#timeline li .certifications span {
    display: block;
}

#timeline li .certifications .subtitle {
    display: none;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
}

#timeline li .certifications .cert {
    margin-bottom: 30px;
}

#timeline li .certifications .cert .title {
    font-weight: bold;
    font-size: 15px;
    background-color: #3c153b;
    padding: 5px 0;
    margin-bottom: 5px;
    color: #fff;
}

#timeline li .certifications .cert .title:hover {
    margin: 0 -70px 5px -70px;
}

#timeline li .certifications .cert .number {
    color: #999;
}

#timeline li .description {
    padding-left: 20px;
}

#timeline li .description li {
    margin: 0;
}

.date {
    margin-top: -15px;
    top: 50%;
    left: -100px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    color: #430d39;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -45px;
    width: 10px;
    height: 10px;
    background: #8b1e3f;
    border: 2px solid #430d39;
    border-radius: 50%;
    display: block;
    position: absolute;
}

@media only screen and (max-width: 1260px) {
    #timeline li .certifications {
        margin-right: calc(-75px - 20vw);
    }
}

@media only screen and (max-width: 876px) {
    #work-banner .upper > .left {
        width: 100%;
    }

    #work-banner .upper > .right {
        display: none;
        width: 0;
    }

    #timeline li .certifications {
        position: static;
        top: 0;
        right: 0;
        margin-right: 0;
        width: 100%;
        color: #111;
        margin-top: 50px;
    }

    #timeline li .certifications .subtitle {
        display: block;
    }
}

@media only screen and (max-width: 440px) {
    #work-banner .upper > .left {
        padding: 70px 30px 0 30px;
    }

    #timeline {
        padding: 0;
        border: 0;
    }

    .date, .circle {
        display: none;
    }
}

@media only screen and (max-width: 369px) {
    #timeline li {
        margin: 0 0 130px;
    }

    #timeline li h1 {
        padding: 0;
    }

    #timeline li h1 img {
        top: -50px;
        left: 0;
    }
}

/* -------------------------------------
 * Study
 * ------------------------------------- */

#study {
    margin-top: 40px;
    display: none;
}

#study-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#study-banner .upper {
    display: table;
}

#study-banner .upper > .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 60px 0 35px;
    position: relative;
}

#study-banner .upper > .left h3 {
    color: #666;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px;
}

#study-banner .upper > .right {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#study-banner .upper > .right h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}

/* -------------------------------------
 * formal-education
 * ------------------------------------- */

.education {
    list-style: none;
    margin-bottom: 0;
}

.education li {
    margin: 0 80px 80px;
    position: relative;
    text-align: left;
}

.education li h1 {
    font-size: 22px;
    margin: 0 0 12px;
    font-weight: normal;
    padding-right: 130px;
    position: relative;
}

.education li h1 img {
    max-height: 100px;
    max-width: 130px;
    position: absolute;
    top: 0;
    left: -120px;
}

.education li h2 {
    font-size: 26px;
    margin: 20px 0;
}

.education li h4 {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}

.education li p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

.education li a {
    color: #8b1e3f;
    text-decoration: underline;
}

/* -------------------------------------
 * lang
 * ------------------------------------- */

.lang {
    margin: 0 0 60px 0;
}

.lang img {
    max-width: 60px;
}

.lang span {
    display: block;
    line-height: 2;
}

.lang .title {
    font-size: 20px;
    font-style: normal;
    margin: 5px 0;
}

@media only screen and (max-width: 1055px) {
    #study-banner .upper > .left {
        padding: 70px 35px 0 35px;
    }
}

@media only screen and (max-width: 915px) {
    #study-banner .upper > .left {
        display: block;
        width: 100%;
    }

    #study-banner .upper > .right {
        display: block;
        width: 100%;
        padding: 70px 0 40px 0;
    }
}

@media only screen and (max-width: 563px) {
    .education {
        padding: 0;
    }

    .education li {
        margin: 0 65px 130px 0;
    }

    .education li h1 img {
        top: -50px;
        left: 0;
    }

}

@media only screen and (max-width: 427px) {
    #study-banner .upper > .left {
        padding: 70px 20px 0 20px;
    }

    .education li {
        margin: 0 35px 130px 0;
    }

}

@media only screen and (max-width: 369px) {
    #study-banner .upper > .left {
        padding: 70px 10px 0 10px;
    }

    .education li {
        margin: 0 15px 130px 0;
    }

}

@media only screen and (max-width: 328px) {
    #study-banner .upper > .left {
        padding: 70px 10px 0 5px;
    }

}

/* -------------------------------------
 * Skills
 * ------------------------------------- */

#skills {
    margin-top: 40px;
    display: none;
}

#skills-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#skills-banner .upper {
    display: table;
}

#skills-banner .upper > .left {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#skills-banner .upper > .left h3 {
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 60px;
}

#skills-banner .upper > .left ul {
    list-style: none;
    padding: 0;
}

#skills-banner .upper > .right {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 30px 0 30px;
    position: relative;
    text-align: center;
}

#skills-banner .upper > .right h2 {
    color: #666;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px;
}

#skills-banner .skill {
    display: inline-block;
    text-align: center;
    width: 28.3%;
    margin-bottom: 100px;
    padding: 20px;
}

#skills-banner .skill span {
    display: block;
}

#skills-banner .skill .icon {
    display: block;
    font-size: 48px;
    margin-bottom: 25px;
    color: #3c153b;
    text-shadow: 10px 10px rgba(183, 183, 183, 0.5);
}

#skills-banner .skill .title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

#skills-banner .skill .subtitle {
    letter-spacing: 2px;
    font-size: 14px;
    color: #666;
    font-style: italic;
    margin-bottom: 5px;
}

#skills-banner .skill .score {
    color: #8b1e3f;
}

@media only screen and (max-width: 915px) {
    #skills-banner .upper {
        display: flex;
        flex-direction: column;
    }

    #skills-banner .upper > .right {
        display: block;
        width: 100%;
        padding: 70px 0 40px 0;
        order: 1;
    }

    #skills-banner .upper > .left {
        display: block;
        width: 100%;
        padding: 70px 0 40px 0;
        order: 2;
    }
}

@media only screen and (max-width: 413px) {
    #skills-banner .skill {
        width: 80%;
    }
}

/* -------------------------------------
 * Portfolio
 * ------------------------------------- */

#portfolio {
    margin-top: 40px;
    display: none;
}

#portfolio-banner .tab {
    position: absolute;
    top: 10px;
    right: -185px;
    background: #430d39;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    padding: 0 30px;
    color: #fff;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#portfolio-banner .tab:before {
    position: absolute;
    content: "";
    top: 0;
    left: -23px;
    height: 44px;
    width: 23px;
    background: url(../img/arrow.png) no-repeat;
    transform: rotate(180deg);
}

#portfolio-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#portfolio-banner .upper {
    display: table;
}

#portfolio-banner .upper > .left {
    display: table-cell;
    width: 20%;
    padding: 70px 40px 40px 40px;
    vertical-align: middle;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#portfolio-banner .upper > .left h3 {
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 60px;
}

#portfolio-banner .upper > .left a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#portfolio-banner .upper > .left a i {
    display: block;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: normal;
}

#portfolio-banner .upper > .right {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
    padding: 120px 170px 40px 100px;
    position: relative;
}

#portfolio-banner .upper .content {
    padding: 0 20px 0 0;
    position: relative;
}

#portfolio-banner .upper h1 {
    margin: 0;
    font-size: 46px;
    line-height: 50px;
    color: #232323;
}

#portfolio-banner .upper h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}

#portfolio-banner .upper .content a img {
    width: 100%;
    margin: 20px 0;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
}

#portfolio-banner .right .more {
    margin-top: 40px;
    background-color: #3c153b;
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#portfolio-banner .right .more:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 110px;
}

#portfolio-banner .right a {
    color: #fff;
    text-decoration: none;
}

#portfolio-banner .project {
    position: relative;
    margin-bottom: 120px;
}

#portfolio-banner .upper .content a.screenshot img {
    width: 28.5%;
    margin: 0 20px 20px 0;
    border: 2px solid #8b1e3f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

#portfolio-banner .upper .content a.screenshot:hover img {
    opacity: 0.6;
}

@media only screen and (max-width: 915px) {
    #portfolio-banner .upper > .left {
        display: none;
        width: 0;
    }

    #portfolio-banner .upper > .right {
        width: 100%;
    }
}

@media only screen and (max-width: 855px) {
    #portfolio-banner .tab {
        display: none;
    }

    #portfolio-banner .upper > .right {
        padding: 120px 100px 40px 100px;
    }
}

@media only screen and (max-width: 810px) {
    #portfolio-banner .upper .content a.screenshot img {
        width: 45%;
    }
}

@media only screen and (max-width: 778px) {
    #portfolio-banner .upper .content a.screenshot img {
        width: 40%;
    }
}

@media only screen and (max-width: 635px) {
    #portfolio-banner .upper > .right {
        padding: 120px 40px 40px 50px;
    }
}

@media only screen and (max-width: 480px) {
    #portfolio-banner .upper > .right {
        padding: 120px 10px 40px 30px;
    }
}

@media only screen and (max-width: 389px) {
    #portfolio-banner .upper > .right {
        padding: 120px 5px 40px 15px;
    }
}

@media only screen and (max-width: 369px) {
    #portfolio-banner .upper .content a img {
        width: 80vw;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #portfolio-banner .upper .content h1 {
        font-size: 32px;
    }

    #portfolio-banner .upper .content a.screenshot img {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #portfolio-banner .upper .content a img {
        width: 80vw;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #portfolio-banner .upper .content h1, #portfolio-banner .upper .content p {
        width: 80vw;
    }

    #portfolio-banner .upper .content p.more {
        width: 80px;
    }
}

/* -------------------------------------
 * Contact
 * ------------------------------------- */

#contact {
    margin-top: 40px;
    display: none;
}

#contact-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#contact-banner .upper {
    display: table;
}

#contact-banner .upper > .left {
    display: table-cell;
    width: 0;
    padding: 70px 40px 40px 40px;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#contact-banner .upper > .right {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 40px 100px 0 100px;
    position: relative;
}

.contact-form {
    margin: 50px 0 150px 0;
}

.contact-form p {
    font-size: 16px;
    padding: 10px 0;
}

.contact-form .email a {
    font-size: 24px;
    color: #3c153b;
    font-weight: bold;
}

.contact-form .email a i {
    margin-right: 10px;
}

.contact-form #form label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
}

.contact-form #form input {
    width: 100%;
    color: #111111;
    margin-bottom: 20px;
    height: 30px;
    padding: 10px;
    border: 1px solid #3c153b;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
}

.contact-form #form textarea {
    width: 100%;
    max-width: 100%;
    color: #111111;
    margin-bottom: 20px;
    height: 120px;
    padding: 10px;
    border: 1px solid #3c153b;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
}

.contact-form #form .submit {
    float: right;
}

.contact-form #form .submit button {
    cursor: pointer;
    background-color: #8b1e3f;
    color: #fff;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
}

.contact-form #form .submit button:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 50px;
}

.successForm, .errorForm {
    text-align: center;
    padding: 10px;
    color: #fff;
    margin: 20px 0;
    display: none;
}

.successForm {
    background-color: #8b1e3f;
}

.errorForm {
    background-color: #c0392b;
}

@media only screen and (max-width: 635px) {
    #contact-banner .upper > .left {
        display: none;
        width: 0;
    }

    #contact-banner .upper > .right {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #contact-banner .upper > .right {
        padding: 40px 50px 0 50px;
    }
}

@media only screen and (max-width: 400px) {
    #contact-banner .upper > .right {
        padding: 40px 25px 0 25px;
    }
}

@media only screen and (max-width: 369px) {
    .contact-form #form input {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .contact-form #form textarea {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media only screen and (max-width: 320px) {
    .contact-form .email a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 288px) {
    .contact-form .email a {
        font-size: 16px;
    }
}

/* -------------------------------------
 * Resume
 * ------------------------------------- */

#resume {
    margin-top: 40px;
    display: none;
}

#resume .button, .resume.button {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
    overflow: unset;
}

#resume .button a, .resume.button a {
    cursor: pointer;
    background-color: #8b1e3f;
    color: #fff !important;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 70px;
    font-size: 18px;
    height: 100%;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
    box-shadow: 10px 10px 0 0 rgba(183, 183, 183, 0.5);
}

.resume.button.invert a {
    background-color: #fff;
    color: #8b1e3f !important;
}

#resume .button a:hover, .resume.button a:hover {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px 100px;
}

@media only screen and (max-width: 1055px) {
    #resume .button, .resume.button {
        padding-bottom: 150px;
    }
}