/* -------------------------------------
 * General
 * ------------------------------------- */

* {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

body {
    font-family: Sarabun, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    margin: 0;
    height: calc(100vh - 70px);
}

.main {
    min-height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* -------------------------------------
 * Header
 * ------------------------------------- */

#header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #f1f1f1;
}

#header nav {
    position: absolute;
    top: 150px;
    left: 40px;
    right: 40px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    z-index: 5;
}

#header nav ul {
    display: inline-block;
}

#header nav ul li {
    display: inline-block;
    width: 100px;
    position: relative;
    margin: 0 20px;
}

#header nav ul li.last-left {
    margin-right: 190px;
}

#header nav ul li.first-right {
    margin-left: 190px;
}

#header nav ul li a {
    color: #666666;
    text-decoration: none;
}

#header nav ul li a:hover, #header nav ul li a.active {
    color: #111111;
    font-weight: bold;
}

#header nav ul li a img {
    width: 60px;
}

#header nav ul li a:hover img, #header nav ul li a.active img {
    width: 70px;
}

/* -------------------------------------
 * Avatar
 * ------------------------------------- */

#avatar {
    width: 320px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

#avatar a {
    color: #111111;
    text-decoration: none;
}

#avatar a img {
    width: 100%;
    margin: 5px auto;
}

#avatar #name {
    margin: 10px 0;
}

#avatar #summary {
    font-size: 16px;
    line-height: 1.7;
    margin: 30px -15vw 60px -15vw;
    color: #111111;
}

#avatar #summary i {
    color: #ccc;
    font-size: 60px;
    margin-left: -60px;
    margin-top: -10px;
    position: absolute;
    z-index: -1;
}

/* -------------------------------------
 * Footer
 * ------------------------------------- */

#footer {
    text-align: center;
    background-color: #3c153b;
    width: 100%;
    height: 70px;
}

#footer ul {
    display: inline-block;
}

#footer ul li {
    display: inline-block;
    width: 20px;
    margin: 0 20px;
}

#footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/* -------------------------------------
 * Main
 * ------------------------------------- */

.section {
    position: relative;
}

.section > div {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.ribbon:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background: url(../img/ribbon.png) repeat-x left top;
}

/* -------------------------------------
 * Blog
 * ------------------------------------- */

#blog {
    margin-top: 40px;
    display: none;
}


#blog-banner .tab {
    position: absolute;
    top: 70px;
    left: -15px;
    background: #430d39;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    padding: 0 30px;
    color: #fff;
    z-index: 100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#blog-banner .tab:before {
    position: absolute;
    content: "";
    top: 0;
    right: -23px;
    height: 44px;
    width: 23px;
    background: url(../img/arrow.png) no-repeat;
}




#blog-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}

#blog-banner .upper {
    display: table;
}

#blog-banner .upper > .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 80px 40px 170px;
    position: relative;
}

#blog-banner .upper .content {
    padding: 0 0 0 20px;
    position: relative;
}

#blog-banner .upper h1 {
    margin: 0;
    font-size: 46px;
    line-height: 50px;
    color: #232323;
}

#blog-banner .upper h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}

#blog-banner .upper .content a img {
    width: 100%;
    margin: 20px 0;
    -webkit-box-shadow: 10px 10px 0 0 rgba(183,183,183,0.5);
    -moz-box-shadow: 10px 10px 0 0 rgba(183,183,183,0.5);
    box-shadow: 10px 10px 0 0 rgba(183,183,183,0.5);
}

#blog-banner .left .more {
    margin-top: 10px;
    background-color: #3c153b;
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#blog-banner .left .more:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 110px;
}

#blog-banner .left a {
    color: #fff;
    text-decoration: none;
}



#blog-banner .upper > .right {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    vertical-align: middle;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#blog-banner .upper > .right h4 {
    font-style: normal;
}

#blog-banner .right .more {
    background-color: #3c153b;
    margin: 0 0 60px 0;
}

#blog-banner .right .more:hover {
    margin: 0 -40px 60px -40px;
}

#blog-banner .right a {
    color: #fff;
    text-decoration: none;
}

/* -------------------------------------
 * Work
 * ------------------------------------- */

#work {
    margin-top: 40px;
    display: none;
}

#work-banner {
    position: relative;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    /*margin: 0 0 60px 0;*/
}



#work-banner .upper {
    display: table;
}

#work-banner .upper > .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 70px 80px 0 50px;
    position: relative;
}



#work-banner .upper > .right {
    display: table-cell;
    width: 30%;
    padding: 70px 40px 40px 40px;
    background-color: #8b1e3f;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#work-banner .upper > .right h2 {
    margin: 0 0 60px 0;
    font-size: 22px;
    line-height: 23px;
    color: #b7b7b7;
    font-weight: 500;
}


/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
    list-style: none;
    padding-left: 38px;
    border-left: 2px solid #430d39;
    margin-bottom: 0;
}

#timeline li {
    margin: 0 0 80px;
    position: relative;
    text-align: left;
}

#timeline li:last-child {
    margin: 0;
}

#timeline li h1 {
    font-size: 22px;
    margin: 0 0 12px;
    font-weight: normal;
    padding-right: 130px;
    position: relative;
}

#timeline li h1 img {
    float: right;
    max-height: 100px;
    max-width: 130px;
    position: absolute;
    top: 0;
    right: 0;
}

#timeline li h2 {
    font-size: 26px;
    margin: 20px 0;
}

#timeline li h4 {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}

#timeline li p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#timeline li .certifications {
    position: absolute;
    top: 0;
    right: -80px;
    margin-right: -320px;
    text-align: center;
    width: 250px;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
}

#timeline li .certifications span {
    display: block;
}

#timeline li .certifications .cert {
    margin-bottom: 30px;
}

#timeline li .certifications .cert .title {
    font-weight: bold;
    font-size: 15px;
    background-color: #3c153b;
    padding: 5px 0;
    margin-bottom: 5px;
    color: #fff;
}

#timeline li .certifications .cert .title:hover {
    margin: 0 -70px 5px -70px;
}

#timeline li .certifications .cert .number {
    color: #999;
}

.date {
    margin-top: -15px;
    top: 50%;
    left: -100px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    color: #430d39;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -45px;
    width: 10px;
    height: 10px;
    background: #8b1e3f;
    border: 2px solid #430d39;
    border-radius: 50%;
    display: block;
    position: absolute;
}